{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'memberApp/css/member.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/event.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'essentials/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'streamapp/css/tweet.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block header %}
    <!-- navigation -->
    {% include "essentials/navigation.html" %}
{% endblock %}
{% block content %}
    <!-- member login Section -->
    <section id="" class="section-padding bg-image dark-bg pos-section overlay-dark" data-stellar-background-ratio="0.5" data-background-img="{% static 'home/images/AdobeStock_195909368.jpeg' %}">
        <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
            <div class="testimonial text-center max-width-700">
                <div class="page-icon-sm"><i class="icon-quote"></i></div>
                <h2>For God so loved the world, that he gave his only begotten Son, that whosoever believed in him should not perish, but have everlasting life</h2>
                <p class="lead-lg"></p>
                <h6 class="quote-author alt-title">John <span class="text-regular">3:16</span></h6>
            </div>
            </div>
            <div class="item">
            <div class="testimonial text-center max-width-700">
                <div class="page-icon-sm"><i class="icon-quote"></i></div>
                <h2>For I know the plans I have for you,” declares the Lord, “plans to prosper you and not to harm you, plans to give you hope and a future.</h2>
                <p class="lead-lg"></p>
                <h6 class="quote-author alt-title">Jeremiah <span class="text-regular">29:11</span></h6>
            </div>
            </div>
            <div class="item">
            <div class="testimonial text-center max-width-700">
                <div class="page-icon-sm"><i class="icon-quote"></i></div>
                <h2>And we know that for those who love God all things work together for good, for those who are called according to his purpose.</h2>
                <p class="lead-lg"></p>
                <h6 class="quote-author alt-title">Romans <span class="text-regular">8:28</span></h6>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End member login Section -->
    <main>
        <div class="social-layout">
            <div class="left-side">
                <div class="card profile-card">
                    <img class="is-rounded" src="{{picture}}">
                    <p>{{member.about}}</p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Other EMY Members</p>
                    </div>
                    <div class="card-content"> 
                        <ul class="menu-list">
                            {% for member in members%}
                            <li><a>{{member}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center-side">
                <div class="card">
                    <form class="social-form" method="POST" action="{% url 'member' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <figure class="image is-32x32">
                                <img class="is-rounded" src="{{member.image.url}}">
                            </figure>
                        </div>
                        <div>
                            <input class="input is-rounded is-normal" type="text" name='postFeed' placeholder="Say Something">
                        </div>
                        <div class="" id="">
                            <label for="postFeedImage"><img src="https://img.icons8.com/fluent/48/000000/add-image.png"/></label>
                            <input type="file" name="postFeedImage" id="postFeedImage" class="post-file">
                        </div>
                        <div>
                            <button type="submit" class="button is-rounded is-danger is-outlined">Share</button>
                        </div>
                    </form>
                    <div id="filename"></div>
                </div>
                <div class="">
                    {% for activity in activities %}
                        {% render_activity activity %}
                    {% endfor %}
                </div>
            </div>
            <div class="right-side">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Upcoming Events</p>
                    </div>
                    <div class="card-content">
                        <div class="list-summary-event">
                            {% for event in events %}
                            <div class="event-group" onclick="eventDetail({{event.id}});">
                                <p>{{event.name}}</p>
                                <img class="is-rounded" src="{{event.imagePoster}}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <script src="{% static 'essentials/js/navigation.js' %}"></script>
    <script src="{% static 'memberApp/js/social.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <script>
        const inputFile = document.getElementById('postFeedImage');
        const fileName = document.getElementById('filename');
        inputFile.addEventListener('change',(event)=>{
            let filetext = document.createElement('p');
            filetext.textContent = inputFile.files[0].name;
            if(fileName.firstChild){
                fileName.removeChild(fileName.firstChild);
            }
            fileName.appendChild(filetext);
        });

        const EVENT_DETAIL_URL = '/events/event/';
        function eventDetail(id){
            window.location.href = EVENT_DETAIL_URL+id;
        }
    </script>
{% endblock %}