/*
event
*/
.message .welcome-title{
	text-align: center;
	padding: 40px 0 0px;
	font-family: acme-gothic,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}
.message .welcome-title span{
	font-family: nautica,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #740000;
}
.message .about-text{
	font-family: monarcha, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	width: 300px;
	margin: 50px auto;
	padding: 10px;
}
.underline{
	border-bottom: 3px solid #3B0000;
	width: 500px;
	margin: 0 auto;
}
.message .welcome-subtitle{
	text-align: center;
	padding: 40px 0 0px;
	font-family: acme-gothic,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #740000;
}

.event-list{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 20px 15%;
	justify-content: center;
    align-items: center;
}

.list-summary-event{
	display: flex;
	flex-direction: column;
}
.event-group{
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #740000;
	cursor: pointer;
}
.event-group:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.event-group img{
	height:50px;
}
.event-group p{
	width: 300px;
}
/*medium screen*/
@media (min-width:600px) and (max-width:900px){
	
}
/*large screen*/
@media (min-width:901px){
	.event-list{
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		padding: 20px 15%;
		justify-content: center;
	}
}
.event-list div{
	padding: 20px 30px;
}
#event-home-page{
	background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	height: 500px;
}
.event-welcome-tittle .message .welcome-title{
	text-align: center;
	padding: 40px 0 0px;
	font-family: acme-gothic,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}
.event-welcome-tittle .message .subtitle{
	text-align: center;
	padding: -20 0px;
	font-family: nautica,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
	color: #740000;
}

.event-welcome-tittle .message .welcome-title span{
	font-family: nautica,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #740000;
}
.event-welcome-tittle .message .welcome-subtitle{
	text-align: center;
	padding: 40px 0 0px;
	font-family: acme-gothic,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.7em;
}
.judge-style{
	display: flex;
	flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
	padding: 20px 20%;
}
.video-list{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	justify-content: center;
    padding:20px 15%;
}
/*medium screen*/
@media (min-width:600px) and (max-width:900px){
	.video-list{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		padding:20px 15%;
	}
}
@media (min-width:901px){
	.video-list{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		padding:20px 15%;
	}
}
.video-group video{
	height: 150px;
    padding: 10px;
}
.video-group p{
	text-align: center;
	font-size: 18px;
}
/*round*/
.poster-title p{
	text-align: center;
	font-size:20px;
	color: #740000;
	text-transform: uppercase;
}
/*video*/
.video-rating{
	padding: 20px;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.form-group label{
	padding: 10px;
	font-size:20px;
	display:block;
}
.form-group input{
	width:400px;
	height:30px;
	padding:10px;
	color:black;
	font-size:20px;
}
.form-group textarea{
	width:400px;
	height:100px;
}
.message-alert{
	text-align:center;
	color:#740000;
	font-size:20px;
}

.schedule{
	display: block;
	margin:0 auto;
	width: 900px;
}
.table{
	width:900px;
}
.table-header{
	display:flex;
	flex-direction:row;
	align-items:center;
	align-content: center;
	justify-content:center;
	background-color:#740000;
	color: #ccc;
}
.table-header h4{
	padding: 10px 30px;
	font-size:18px;
}
.table-body{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.table-body p{
	font-size:16px;
	padding: 5px 20px;
}
.table-body:hover {
	background-color:rgb(255, 176, 176);
}
.img-poster{
	height:600px;
	display:block;
	margin:0 auto;
	padding:10px;
}
.access-link{
	margin:50px;
}
.access-link p{
	text-align: center;
}