{% extends "base.html" %} 
{% load static %} 
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth0login/css/style.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div id="login-page" class="container">
            <h1 id="countdown-message"></h1>
            <a class="btn-login" href="/login/auth0">Log In</a>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        /*const countdown = new Date("Dec 12, 2020 19:00:00").getTime();
        let message = document.getElementById('countdown-message');

        //update every second
        let myfunc = setInterval(function() {
            let now = new Date().getTime();
            var timeleft = countdown - now;
                
            let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

            message.textContent = `${days} days ${hours} hours ${minutes} mins ${seconds} secs`;
        }, 1000)*/
    </script>
    
{% endblock %}