body{
    background-color:white;
}
#second-nav{
    background-color:#EFEBEA;
    height: 100px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu li{
    white-space: nowrap;
    font-size: 16px;
    padding: 15px;
    margin-top: 20px;
}
.menu li a{
    color: #671500;
}
.menu li a:hover{
    text-decoration: none;
}
#second-nav ul{
    list-style-type: none;
}
/**
home page
*/
#home-page{
    height: 500px;
    background-image: url('../images/AdobeStock_292946768.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-page h1{
    font-size:50px;
    font-family: cursive;
    color:yellowgreen;
    text-align: center;
    vertical-align:center;
    line-height: 500px;
}
/**
about page
*/
#about-page{
    background-color:white;
    height: 3000px;
    text-align: center;
}
.participants-list{
    display: grid;
    column-gap: 10px;
    row-gap: 5px;
    justify-content: center;
    grid-template-columns: 150px 150px ;
    grid-template-rows: auto;
}
.judge-list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.judge-list div{
    margin:10px;
}
@media (min-width:600px) and (max-width:900px){
    #about-page{
        background-color:white;
        height: 1300px;
        text-align: center;
    }
    .participants-list{
        display: grid;
        column-gap: 10px;
        row-gap: 5px;
        justify-content: center;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: auto;
    }
}
@media(min-width:901px){
    #about-page{
        background-color:white;
        height: 1500px;
        text-align: center;
    }
    .participants-list{
        display: grid;
        column-gap: 10px;
        row-gap: 5px;
        justify-content: center;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: auto;
    }
    .judge-list{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #media-page{
        height: 1000px;
    }
}

#about-page h3{
    padding: 50px 10px 5px;
}
#about-page h6{
    text-transform:uppercase;
}
.page-description{
    margin-top: 20px;
    font-family: fantasy;
    border-bottom: 1px solid black;
}
.colored{
    color:#671500;
}
.page-title h6{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.participants-list div{
    padding: 20px;
}
/**
post page
*/
#post-page{
    height: 500px;
    background-image: url('../images/My_Post.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/**
contact page
*/
#contact-page{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-form{
    width:400px;
    padding: 20px;
    border: 1px solid lightgray;
    margin: 100px auto;
    vertical-align:middle;
    border-radius:20px;
}
@media (min-width:600px) and (max-width:900px){
    #media-page{
        height: 1500px;
    }
}
@media (min-width:901){
    #media-page{
        height: 900px;
    }
}
.video-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.video-list div p{
    text-align: center;
    margin-top:10px;
    padding: 20px;
    font-family: cursive;
}

.round{
    font-size: 25px;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.group-picture img{
    height:150px;
}
/*
* video list
*/
footer{
    background-color: #EFEBEA;
    height: 200px;
}
footer div img{
    display: block;
    margin:0 auto;
    padding-top: 30px;
}