body{
    background: url("../images/AdobeStock_371245784.jpeg") no-repeat center center fixed; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
}

#login-page{
    text-align: center;
    vertical-align: center;
    margin-top:300px;
}

#login-page h1{
    font-size:50px;
    font-family: cursive;
    color:yellowgreen;
}
.btn-login{
    padding: 25px;
    color: white;
    border: 2px solid white;
	border-radius: 50px;
    cursor: pointer;
    text-decoration:none;
    background-color: black;
}
.btn-login:hover{
	background-color: #3B0000;
	color: #FFFFFF;
}