{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'navigation/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/event.css' %}">
{% endblock %}
{% block header %}
    {% include "navigation/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div id="event-home-page" style="background-image: url('{{event.imagePage}}')">
    </div>
    <div class="event-welcome-tittle" id="">
        <div class="message">
            <p class="welcome-title">Emmanuel Maranatha <span>Youth</span></p>
            <p class="subtitle">{{event.name}}</p>
            <div class="underline"></div>
        </div>
        <div class="message" id="">
            <p class="welcome-subtitle">Meet our participants</p>
            <div class="committee-style">
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-18-09-21-47.jpg" alt="">
                    <p>Rachelle and Lea Cadet</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-10-08-03.jpg" alt="">
                    <p>Rebecca Jael Jeune</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-08-14-21-21-34.jpg" alt="">
                    <p>Stephanie Jean-Jacques</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-09-00-27.jpg" alt="">
                    <p>Jerry Maurice</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Darrel Mezadieu</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Darren Mezadieu</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Jamal Victor</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Cendra Raphael</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Shekinah Jean-Jacques</p>
                </div>
                <div class="committe-img">
                    <img src="{% static 'auth0login/images/Unknown_icon.png' %}" alt="">
                    <p>Pierre Mays</p>
                </div>
            </div>
        </div>
        <div class="message" id="">
            <p class="welcome-subtitle">Meet our Judges</p>
            <div class="judge-style">
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-10-42-20.jpg" alt="">
                    <p>Gustave Jeune</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/15723760_10211583784608378_1338275324277749479_o.jpg">
                    <p>Jubenson Jean-Jacques</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/judith.jpg">
                    <p>Judith Thelor</p>
                </div>
                <div class="committe-img">
                    <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-12-02-08-02-42.jpg">
                    <p>Edwige L</p>
                </div>
            </div>
        </div>
        <div class="message" id="">
            <p class="welcome-subtitle">Videos</p>
            <div class="video-list">
                {% for video in videos %}
                <div class="video-group" id="">
                    <video width="220" height="140" poster="{% static 'auth0login/images/emy.png" controls>
                        <source src="{{video.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p class="video_name">{{video.title}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="message" id="">
            <p class="welcome-subtitle">Result</p>
            <h3>Round 2</h3>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Participants</th>
                            <th>Final Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stephanie Jean-Jacques</td>
                            <td>9.75</td>
                        </tr>
                        <tr>
                            <td>Shekinah Jean-Jacques</td>
                            <td>9.55</td>
                        </tr>
                        <tr>
                            <td>Jerry Maurice</td>
                            <td>9.2</td>
                        </tr>
                        <tr>
                            <td>Rebecca J. Jeune</td>
                            <td>8.7</td>
                        </tr>
                        <tr>
                            <td>Pierre Mays</td>
                            <td>8.4</td>
                        </tr>
                        <tr>
                            <td>Rachelle and Lea</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Cendra Raphael</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}