{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'navigation/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/event.css' %}">
{% endblock %}
{% block header %}
    {% include "navigation/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div class="event-list">
    {% for event in events %}
        <div>
            <a href="{% url 'event_detail' event.id %}"><img src="{{event.imagePoster}}" alt="{{event.name}}" height="300"></a>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}