{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'essentials/css/navigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'essentials/css/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/event.css' %}">
{% endblock %}
{% block header %}
    {% include "essentials/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div id="event-home-page" style="background-image: url('{{event.imagePage}}')">
    </div>
    <div class="event-welcome-tittle" id="">
        <div class="message">
            <p class="welcome-title">Emmanuel Maranatha <span>Youth</span></p>
            <p class="subtitle">{{event.name}}</p>
            <div class="underline"></div>
        </div>
        
        <div class="message" id="">
            <p class="about-text">{{event.about}}</p>
            <div class="schedule">
                <div class="table">
                    <div class="table-header">
                        <h4>Date</h4>
                        <h4>Worship Leader</h4>
                        <h4>Scripture Reading</h4>
                        <h4>Preacher</h4>
                    </div>
                    {% for a in agenda %}
                    <div class="table-body card">
                        <p>{{a.date}}</p>
                        <p>{{a.worshipLeader}}</p>
                        <p>{{a.scripture}}/{{a.reader}}</p>
                        <p>{{a.preacher}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}