{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'navigation/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'streamapp/css/tweet.css' %}">
{% endblock %}
{% block header %}
    {% include "navigation/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div class="user-page">
        <div class="header_section" data-parallax="scroll" data-image-src="{% static 'auth0login/images/AdobeStock_292184019.jpeg' %}">
        </div>
        <div class="body_section">
            <div class="shortcut_section">
                <div class="">
                    <a href="{% url 'user-profile' %}"><img id="profile-image" src="{{member.image.url}}" alt="profile image" height=500></a>
                </div>
                <div class="card">
                    {% include "navigation/vertical_navigation.html" %}
                </div>
                {% include "emmanuel/discovery_side.html" %}
            </div>
            <div class="detail_section">
                <div class="card" id="feed_post">
                    <form id="post-form" method="POST" action="{% url 'user-home' %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="postFeed" id="" class="post-input" placeholder="Share something with us"></textarea>
                        </div>
                        <div class="form-group" id="postImageGroup">
                            <label for="postFeedImage"><img src="https://img.icons8.com/fluent/48/000000/add-image.png"/></label>
                            <input type="file" name="postFeedImage" id="postFeedImage" class="post-file">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="">Share</button>
                        </div>
                    </form>
                    <div id="filename"></div>
                </div>
                <div class="">
                    {% for activity in activities %}
                        {% render_activity activity %}
                    {% endfor %}
                </div>
            </div>
            <div class="notification_section">
                {% include 'notification/notification.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
<script src="{% static 'streamapp/js/recommendation.js' %}"></script>
<script>
    const inputFile = document.getElementById('postFeedImage');
    const fileName = document.getElementById('filename');
    inputFile.addEventListener('change',(event)=>{
        let filetext = document.createElement('p');
        filetext.textContent = inputFile.files[0].name;
        if(fileName.firstChild){
            fileName.removeChild(fileName.firstChild);
        }
        fileName.appendChild(filetext);
    });
</script>
{% endblock %}