{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'navigation/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'streamapp/css/tweet.css' %}">
{% endblock %}
{% block header %}
    {% include "navigation/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div class="user-page">
        <div class="header_section" data-parallax="scroll" data-image-src="{% static 'auth0login/images/AdobeStock_292184019.jpeg' %}">
        </div>
        <div class="body_section">
            <div class="shortcut_section">
                <div class="">
                    <a href="{% url 'user-profile' %}"><img id="profile-image" src="{{member.image.url}}" alt="profile image" height=500></a>
                    
                </div>
                <div class="card">
                    {% if follow %}
                        <p><a href="{% url 'unfollow' member.user.id %}">click here to unfollow user</a></p>
                    {% else %}
                        <p><a href="{% url 'follow' member.user.id %}">click here to follow user</a></p>
                    {% endif %}
                </div>
                <div class="card">
                    {% include "navigation/vertical_navigation.html" %}
                </div>
            </div>
            <div class="detail_section">
                <div class="card">
                    <div class="card-header">
                        {{member.user.first_name}} {{member.user.last_name}}
                    </div>
                    <div class="card-body">
                        <p>{{member.about}}</p>
                    </div>
                </div>
                <div class="">
                    {% for activity in activities %}
                        {% render_activity activity %}
                    {% endfor %}
                </div>
            </div>
            <div class="notification_section">
                {% include 'notification/notification.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
{% endblock %}