<!-- Footer Section -->
<footer id="footer" class="footer gray-bg">
	<div class="container text-center">
    <!--
	<ul class="social mb-60 wow fadeInUp" data-wow-duration="1.5s">
		<li> <a target="_blank" href="https://www.facebook.com/groups/hpphilly"><i class="fa fa-facebook"></i></a> </li>
		<li> <a target="_blank" href="https://www.instagram.com/hppphilly/"><i class="fa fa-instagram"></i></a> </li>
		<li> <a target="_blank" href="https://www.linkedin.com/in/hpp-haitian-professionals-of-philadelphia-9b1219156/"><i class="fa fa-linkedin"></i></a> </li>
	</ul>-->
	<p class="copyright"> <a class="copy-link scroll-top" href="#">&copy; EMY 2021</a><br />
		All Rights Reserved</p>
	</div>
</footer>
<!-- End Footer Section -->