{% load static %}
<header class="header">
  <nav class="navbar">
    <a href="" class="nav-logo"><img src="{% static 'essentials/images/emy_logo.png' %}"></a>
    <ul class="nav-menu">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Committee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Members</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>