{% load filters %}
<div class="card">
  <div class="card-header-tweet">
    <p><a href="/user/{{ tweet.user.username }}">{{ tweet.author.username }}</a></p>
    <p class="time-font">{{ tweet.created_at|time_difference }}</p>
  </div>
  <div class="card-body-tweet">
    {% autoescape off %}
    <div>
      {{ tweet.text }}
    </div>
    <div>
      {% if tweet.image %}
        {% if tweet.is_video %}
          <video width="320" height="240" controls>
              <source src="{{tweet.image.url}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% else %}
          <img src="{{tweet.image.url}}" alt="post">
        {% endif %}
      {% endif %}
    </div>
    {% endautoescape %}
  </div>
</div>