{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'memberApp/css/member.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/event.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'essentials/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'streamapp/css/tweet.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/event.css' %}">
{% endblock %}
{% block header %}
    <!-- navigation -->
    {% include "essentials/navigation.html" %}
{% endblock %}
{% block content %}
 
<main>
    <div id="event-home-page" data-parallax="scroll" data-image-src="{% static 'auth0login/images/AdobeStock_335725655.jpeg' %}">
    </div>
    <div class="event-welcome-tittle" id="">
        <div class="message">
            <p class="welcome-title">Emmanuel Maranatha <span>Youth</span></p>
            <p class="subtitle">Media Page</p>
            <div class="underline"></div>
        </div>
        
        <div class="message" id="">
            <p class="about-text">Images</p>
        </div>
        <div class="media_section">
            {% for m in media %}
                <div>
                    <img class="" src="{{m.image.url}}" height="240">
                    <p>{{m.title}}</p>
                    <p>{{m.event.name}}</p>
                </div>
            {% endfor %}
        </div>
        
        <div class="message" id="">
            <p class="about-text">Videos</p>
        </div>
        <div class="media_section">
            {% for m in video %}
                <div>
                    <video width="220" height="140" poster="{% static 'auth0login/images/emy.png' %}" controls>
                        <source src="{{m.image.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>{{m.title}}</p>
                    <p>{{m.event.name}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="media_section">
            <h3><a href="{% url 'member' %}">Return Home</a></h3>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
{% endblock %}