{% extends "base.html" %} 
{% load static %} 
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth0login/css/home.css' %}">
{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'auth0login/images/emy.png' %}" alt="emy" height="50"></a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-outline-danger" href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
    <nav id="second-nav">
        <ul id="navigation" class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Media</a></li>
            <li><a href="">Score</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <main>
        <div class="" id="home-page">
            <h1 id="countdown-message"></h1>
        </div>
        <div id="about-page" class="">
            <div id="" class="about-title container">
                <h3>Emmanuel Maranatha <span class="colored">Youth</span></span></h3>
                <p class="page-description">Emmanuel Maranatha Youth is happy to present you its first Christmas Singing Contest.</p>
            </div>
            <div class="participants">
                <div class="page-title">
                    <h6>Meet our participants</h6>
                </div>
                <div class="participants-list container">
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-18-09-21-47.jpg" alt="Rachelle" class="img-thumbnail img-profile">
                        <p>Rachelle and Lea Cadet</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-10-08-03.jpg" alt="Rebecca" class="img-thumbnail img-profile">
                        <p>Rebecca Jael Jeune</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-18-18-10-38.jpg" alt="Claire" class="img-thumbnail img-profile">
                        <p>Claire Dayan</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-08-14-21-21-34.jpg" alt="Stephanie" class="img-thumbnail img-profile">
                        <p>Stephanie Jean-Jacques</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-09-00-27.jpg" alt="Jerry" class="img-thumbnail img-profile">
                        <p>Jerry Maurice</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-10-06-07.jpg" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Guervens Jeune</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Darrel Mezadieu</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Darren Mezadieu</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Jamal Victor</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>James Victor</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Demetrius</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Cendra Raphael</p>
                    </div>
                    <div class="group-picture">
                        <img src="{% static 'auth0login/images/Unknown_icon.png'%}" alt="Unknown_icon" class="img-thumbnail img-profile">
                        <p>Becky</p>
                    </div>
                </div>
            </div>
            <div class="participants">
                <div class="page-title">
                    <h6>Meet our Judges</h6>
                </div>
                <div class="judge-list container">
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/PHOTO-2020-07-17-10-42-20.jpg" alt="Testing" class="img-thumbnail img-profile">
                        <p>Pastor Gustave Jeune</p>
                    </div>
                    <div class="group-picture">
                        <img src="http://d12hv3htzmbj6t.cloudfront.net/emy_profile/15723760_10211583784608378_1338275324277749479_o.jpg" alt="Testing" class="img-thumbnail img-profile">
                        <p>Pastor Jubenson Jean-Jacques</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="post-page">
        </div>
        <div id="media-page">
            <div class="page-title">
                <h6>Media</h6>
            </div>
            <p class="round container">Round 1</p>
            <div class="video-list container">
                {% for video in videos %}
                <div>
                    <video width="220" height="140" poster="{% static 'auth0login/images/emy.png' %}" controls>
                        <source src="{{video.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>{{video.title}} 
                        {% if user.is_staff %}
                            / <a href="{% url 'score' video.id %}">Select</a></p>
                        {% endif %}
                </div>
                {% endfor %}
                
            </div>
        </div>
        <!--
        <div id="contact-page">
        </div>-->
    </main>
{% endblock %}
{% block footer %}
    <footer>
        <div>
            <img src="{% static 'auth0login/images/emy.png' %}" alt="emy" height="100">
        </div>
    </footer>
{% endblock %}
{% block js %}
<script>
    const countdown = new Date("Dec 5, 2020 19:00:00").getTime();
    let message = document.getElementById('countdown-message');

    //update every second
    let myfunc = setInterval(function() {
        let now = new Date().getTime();
        var timeleft = countdown - now;
            
        let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

        message.textContent = `${days} days ${hours} hours ${minutes} mins ${seconds} secs`;
    }, 1000)
</script>
{% endblock %}