{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'navigation/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'emmanuel/css/event.css' %}">
{% endblock %}
{% block header %}
    {% include "navigation/navigation.html" %}
{% endblock %}
{% block content %}
<main>
    <div class="event-list">
        <div class="poster-title">
            <a href="{% url 'round-videos' 1 %}"><img src="{% static 'auth0login/images/AdobeStock_239269231.jpeg' %}" alt="Round 1" height="300"></a>
            <p>Round 1</p>
        </div>
        <div class="poster-title">
            <a href="{% url 'round-videos' 2 %}"><img src="{% static 'auth0login/images/AdobeStock_231750715.jpeg' %}" alt="Round 2" height="300"></a>
            <p>Round 2</p>
        </div>
        <div class="poster-title">
            <a href="{% url 'round-videos' 3 %}"><img src="{% static 'auth0login/images/AdobeStock_292774109.jpeg' %}" alt="Round 3" height="300"></a>
            <p>Round 3</p>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}